

<header>

    <nav class="navbar navbar-expand-lg bg-success p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color:white">Admin panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin" style="color:white">Home
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color:white">All Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adminLogin/adminLogout" style="color:white">Log Out</a>
                    </li>
                </ul>
                <form class="d-flex" action="/admin/searchuser" role="search">
                    <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
                    <button  class="btn btn-outline-info" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

</header>

<section>
    <div class="container">
        <table class="table mt-3" id="userTable">
  <thead>
    <tr>
      <th scope="col">Count</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Select</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}

    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.password}}</td>
      <td><a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you want to delete this user {{this.name}} ?')">Delete</a></td>

      {{/each}}
    </tr>
    </section>